jury.d/logs/*.log
dckr_mysql/*
__pycache__
found_flags.json
vulnbox/example_service1/flags/*
game-simulation/vulnbox/service3_php/tmp/*
*.log
data_test/*
/data_sample/db/*
/data_sample/game_result
/data_test_tmp
/test_game_config
/ctf01d
/tmp
tmp/*
.wsjcpp
*.log
/.ctf01d
/test-first-start
/Dockerfile.build-environment
/Dockerfile.release-environment

# Prerequisites
# *.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.claude
